* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.hero {
    position: relative;
    background-image: url('pexels-eberhardgross-1064162.jpg');
}